@import '@/assets/css/global.scss';
// 容器样式
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  
  backdrop-filter: blur(5px);
  border-radius: $borderRadius;
  :global {
    .item-info {
      width: 100%;
    }
    .item-details {
      display: flex;
    }
  }
}
