// 导航栏样式
.nav {
  font-family: 'Rubik', sans-serif;
  color: whitesmoke;
  font-size: 2em;
  display: flex;
  justify-content: center;

  
}

.navlink {
  padding: 10px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navtools {
  padding: 10px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.navabout {
  padding: 10px 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
