// 底边栏样式
.footer {
  // position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  bottom: 0;
  color: whitesmoke;
  margin: 1.875rem auto;
  
  &:hover {
    cursor: pointer;
  }
  :global {
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
