// 底边栏样式
.footer {
  position: absolute;
  bottom: 0;
  color: whitesmoke;
  text-align: center;
  margin: auto 0;
  left: 0;
  right: 0;

  &:hover {
    cursor: pointer;
  }
  :global {
    .copyright {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
