// 底边栏样式
.box {
  background-color: #fff;
  border: none;
  border-radius: .5rem;
  box-shadow: .5rem .875rem 2.375rem rgba(39,44,49,.06),.0625rem .1875rem .5rem rgba(39,44,49,.03);
  margin-bottom: 3.125rem;
  margin-top: 1.125rem;
  padding: 1.5625rem 2rem;
  position: relative;
  width: 80%;
}
