// 背景
$blurRadius: 0rem;
.bg {
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
  .bgImage {
    max-width: 100%;
    max-height: 100%;
    filter: blur($blurRadius);
    -webkit-filter: blur($blurRadius);
    img {
      object-fit: cover;
      // background-position: center;
      background-repeat: no-repeat;
      // background-size: cover;
      transform: scale(1); 
    }
  }
}
