// 背景
$blurRadius: 2px;

.bg {
  height: 100%;
  left: 0px;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: -1;
  :global {
    .bg-image {
      min-width: 100%;
      min-height: 100%;
      filter: blur($blurRadius);
      -webkit-filter: blur($blurRadius);
      background: #000;
      background-image: url('../../assets/img/mountain-view.jpeg');
      background-position: center;
      filter: brightness(90%);
      object-fit: contain;
      // background-repeat: no-repeat;
      // background-size: cover;
      transform: scale(1);
    }
  }
}
